@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');



.main{
  height: 100vh;
  margin: 0;
  padding: 50px 150px;
  background: linear-gradient(0deg, #000000 0%, rgba(6, 27, 47, 0.43) 40.9%, #00B8D2 68.8%, #B4E9FF 85.31%);
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 28px;
  font-weight: 900;
  font-family: 'Space Grotesk', sans-serif;
}

.connect-button {
  background-color: #001B25;
  color: white;
  border: 0.5px solid;
  border-image-source: linear-gradient(69.24deg, #FFFFFF 8.31%, rgba(255, 255, 255, 0) 69.93%);
  outline: none;
  padding: 10px 40px;
  cursor: pointer;
  border-radius: 50px;
  font-family: 'Space Grotesk', sans-serif;
  color: #FFFDCA;
}

main{
  text-align: center;
}

h1 {
  /* font-size: 140px; */
  font-size: 8vw;
  /* line-height: 140px; */
  line-height: 20vh;
  font-weight: 900;
  width: 80%;
  margin: 60px auto 5vh;
  color: white;
  font-family: 'DM Sans', sans-serif; 
}

p {
  /* font-size: 20px; */
  font-size: 1.2vw;
  width: 60%;  
  color: white;
  font-family: 'Space Grotesk', sans-serif;
  margin: 0 auto 40px;
}

.button-group {
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 40px;
}

.b1, .b2{
  border: none;
  padding: 10px 28px;
  border-radius: 12px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 400;
}

.b1{
  background: linear-gradient(90.64deg, #72EEFF 0.47%, #FFFFFF 99.47%);
  box-shadow: 0px 1px 10px 0px #03A5C9;
  color: #005D7B;

}

.b2{
  background: linear-gradient(90deg, #21BDDF 3.92%, #0B4862 100.17%);
  border: 1px solid #FFFFFF;
  box-shadow: 0px 1px 10px 0px #21BDDF;
  color: white;
}

.below{
  position: absolute;
  bottom: -180%;
  left: 0;
  width: 100%;
  aspect-ratio: 1;
  background: rgb(2,6,8);
  background: linear-gradient(0deg, rgba(2,6,8,1) 0%, rgba(23,58,81,1) 94%, rgba(0,0,0,1) 100%);
  z-index: -1;
}


.bubbles {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  pointer-events: none;
}

img{
  height: 50px;
}

.bubbleL1{
  position: absolute;
  left: 10%;
  top: 20%;
  /* animation: float 10s infinite; */
}

.bubbleL2{
  position: absolute;
  left: 0%;
  top: 35%;
  /* animation: float 10s infinite; */
}

.bubbleL3{
  position: absolute;
  left: 14%;
  top: 40%;
  /* animation: float 10s infinite; */
}

.bubbleL4{
  position: absolute;
  left: 9%;
  top: 56%;
  /* animation: float 10s infinite; */
}

.bubbleR5{
  position: absolute;
  right: 4%;
  top: 40%;
  /* animation: float 10s infinite; */
}

.bubbleR6{
  position: absolute;
  right: 16%;
  top: 65%;
  /* animation: float 10s infinite; */
}


@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}


@media screen and (max-width:1080px){
  h1 {
    font-size: 8vw;
    line-height: 100px;
    font-weight: 900;
    width: 80%;
  }
  
  p {
    font-size: 1.3vw;
  }
  
  .button-group {
    gap: 30px;
  }
  
  .b1, .b2{
    padding: 8px 22px;
  }
  
  
  .below{
    bottom: -120%;
  }  

  img{
    height: 40px;
  }

}

@media screen and (max-width:900px) {
  .main{
    padding: 50px 100px;
  }
}

@media screen and (max-width:768px){
  .main{
    padding: 40px 60px;
  }
 
  .connect-button {
    padding: 8px 30px;
  }

  h1 {
    line-height: normal;
    font-size: 10vw;
    width: 90%;
    margin: 100px auto 5vh;
  }
  
  p {
    font-size: 2vw;
    width: 80%;  
  }
  
  .button-group {
    gap: 30px;
  }
  
  .b1, .b2{
    padding: 8px 24px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .below{
    bottom: -65%;
  }
  
  img{
    height: 35px;
  }
  
  .bubbleL1{
    left: 9%;
    top: 20%;
  }
  
  .bubbleL2{
    left: 0%;
    top: 50%;
  }
  
  .bubbleL3{
    left: 8%;
    top: 35%;
  }
  
  .bubbleL4{
    left: 10%;
    top: 60%;
  }
  
  .bubbleR5{
    right: 4%;
    top: 35%;
  }
  
  .bubbleR6{
    right: 14%;
    top: 65%;
  }
}

@media screen and (max-width:570px){
  h1 {
    margin: 140px auto 5vh;
  }
}

@media screen and (max-width:500px){
  h1 {
    font-size: 8vw;
    margin: 140px auto 5vh;
  }

  p{
    font-size: 2.5vw;
  }

  .button-group {
    gap: 15px;
  }
  
  .b1, .b2{
    padding: 4px 18px;
    border-radius: 6px;
    font-size: 14px;
  }

  img{
    height: 25px;
  }
  .bubbleL1{
    left: 5%;
    top: 30%;
  }
  
  .bubbleL2{
    left: 0%;
    top: 60%;
  }
  
  .bubbleL3{
    left: 8%;
    top: 45%;
  }
  
  .bubbleL4{
    left: 10%;
    top: 70%;
  }
  
  .bubbleR5{
    right: 4%;
    top: 35%;
  }
  
  .bubbleR6{
    right: 14%;
    top: 65%;
  }
}

@media screen and (max-width:426px) {

  .header{
    width: 110%;
    margin: 0 auto;
  }

  .logo {
    font-size: 20px;
  }
  
  .connect-button {
    
    padding: 6px 25px;
    border-radius: 30px;
  }
  
  h1 {
    font-size: 35px;
    margin: 140px auto 5vh;
  }

  p{
    font-size: 14px;
  }

  .button-group {
    gap: 15px;
  }
  
  .b1, .b2{
    padding: 4px 18px;
    border-radius: 6px;
    font-size: 14px;
  }
}
